@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}



/* inicio do cabeçalho */

header {
    background-image: url(imagens/bg-3.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-bottom: 20px
} 

.titulo1 {
    text-align: center;
    margin-top: 170px;
    color: white ;
    font-size: 3em;
}

.p1 {
    width: 400px;
    margin: auto;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    text-align: center;

    border-bottom: 1px solid white;
}


    /* fim cabeçalho */




.menu {  /* inicio do menu */
   text-align: right;
}

  .menu li {
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
  }

  .menu a {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    margin-right: 7px;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.767);
  }

  .a-direita {
    margin-right: 30px;
  }
 
  .menu a:hover {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    text-decoration: none;
}
 /* fim do menu */





    .titulo2 {  /* inicio do article */
        background-color: #ccc;
        padding: 5px;
        font-size: 1.5em;
        border-bottom: 2px solid #aaaaaa;
    }  
   
    .p2 {
        margin-bottom: 25px;
    }

    .html {  
        width: 75%;
        margin: auto;
        background-color: white;
        padding: 20px;
        margin-bottom: 25px;
        padding-top: 5px;
    
    }

    .css {
        width: 75%;
        margin: auto;
        background-color: white; 
        padding: 20px;
        margin-bottom: 25px;
        padding-top: 5px;
    }

    .javascript {
        width: 75%;
        margin: auto;
        background-color: white;
        padding: 20px;
        margin-bottom: 30px;
        padding-top: 5px;
    }

    .link {
        background-color: #ccc;
        color: blue;
        text-decoration: none;
        padding: 12px;
        border-radius: 3px;
    }
     /* fim do article */



     /* iníco do rodapé */
     footer {
        background-color: rgba(0, 0, 0, 0.37);
        color: white;
        padding: 10px;
        text-align: center;
     }

     /* fim do rodapé */
